[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
parameterized = "*"

[packages]
click = "*"
pydub = "*"
madmom = "*"
pyfftw = "*"

[requires]
python_version = "3.7"
