[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "==1.2.0"

[packages]
click = "==7.0"
pydub = "==0.23.0"
cython = "*"
madmom = "*"

[requires]
python_version = "3.7"
