[build-system]
requires = [
    "flit",
    "Cython"  # For `madmom`
]
build-backend = "flit.buildapi"

[tool.flit.metadata]
description-file="README.md"
module = "beatmachine"
author = "dhsavell"
author-email = "dhsavell05@gmail.com"
home-page = "https://github.com/dhsavell/beat-machine"
classifiers = ["License :: OSI Approved :: MIT License"]
